	  <ul class="breadcrumb">
			<li><a href="./">Home</a></li>
			<li class="last">About</li>
	  </ul>
	  <section id="aboutSection" class="clearfix">
		<header id='aboutHeader'>
			<p>jQuery Toolkit provides a comprehensive set of core interaction plugins, Toolkit widgets and visual effects that use a jQuery-style, event-driven architecture and a focus on web standards, accessiblity, flexible styling, and user-friendly design. All plugins are tested for compatibility in IE 6.0+, Firefox 3+, Safari 3.1+, Opera 9.6+, and Google Chrome.</p>
		</header>
		<section class="clearfix" id ='mahdi.pedram'>
			<div class="aboutLeft">
				<div class="memberPic"><img src="<!--{$imagePath}-->/about/mahdi-pedramrazi.jpg" alt="mahdi pedram razi" /></div>
				<h6>Mahdi PedramRazi</h6>
				<span>Lead/Core-Developer</span>
			</div>
			<div class="aboutRight">
				<p>I'm Both Front-end and Back-end Developer living in Virginia, USA. I'm a software engineer for <a href="http://networksolutions.com" target='_blank'>Network Solutions LLC</a>, co-founder of jQuery Toolkit and <a href="http://mexo.co">Mexo</a>.</p>
				<p>Breaking down the most complicated web app to bunch of small meaningful peice of codes are part of my experties.</p>
				<p>When I'm not working I'm repairing the keyboard on my macbook pro after an intense night of coding. I'm alive to code. </p>
				<div class="memberLinks">
					<a class="website" href="http://mahdipedram.com" target='_blank'>Website</a>
					<a class="mail" href="mailto:mahdi.pedram@jquerytoolkit.com" target='_blank'>E-mail</a>
					<!--  <a class="linkedin" href="http://" target='_blank'>LinkedIn</a> -->
					<a class="twitter" href="http://twitter.com/#!/pedramphp" target='_blank'>Twitter</a>
					<a class="facebook" href="http://www.facebook.com/people/Mahdi-PedramRazi/569233875" target='_blank'>Facebook</a>
				</div>
			</div>
		</section>
		
		<section class="clearfix" id ='hamidreza.rahimi'>
			<div class="aboutLeft">
				<div class="memberPic"><img src="<!--{$imagePath}-->/about/hamidreza-rahimi.jpg" alt="hamidreza rahimi" /></div>
				<h6>HamidReza Rahimi</h6>
				<span>Core-Developer</span>
			</div>
			<div class="aboutRight">
				<p>I am the cofounder of Mexo Co. located in CA, USA and one of the most skilled front-end developers of the time (!!!).
				<p>When I'm not doing any CSS or jQuery ( Does it really happen?), I like playing games and study about web usability.</p>
				<p>You want to know me better? why not following me on social networks below.</p>
				<div class="memberLinks">
					<a class="mail" href="http://" target='_blank'>E-mail</a>
					<a class="linkedin" href="http://" target='_blank'>LinkedIn</a>
					<a class="twitter" href="http://" target='_blank'>Twitter</a>
					<a class="facebook" href="http://" target='_blank'>Facebook</a>
				</div>
			</div>
		</section>
		
		<section class="clearfix" id ='farzin.fadamin'>
			<div class="aboutLeft">
				<div class="memberPic"><img src="<!--{$imagePath}-->/about/farzin-fadamin.jpg" alt="farzin fadamin" /></div>
				<h6>Farzin Fadamin</h6>
				<span>Front-End Developer</span>
			</div>
			<div class="aboutRight">				
				<p>I'm not just a designer who tries to make designs look good in photoshop or other similar tools. I'm a web designer who makes anything graphically possible on web.</p>
				<p>I'm The Creator. For more info, you can check out my profiles on below links.</p>
				<div class="memberLinks">
					<a class="mail" href="http://" target='_blank'>E-mail</a>
					<a class="linkedin" href="http://" target='_blank'>LinkedIn</a>
					<a class="twitter" href="http://" target='_blank'>Twitter</a>
					<a class="facebook" href="http://" target='_blank'>Facebook</a>
				</div>
			</div>
		</section>
		
		<section class="clearfix" id ='scott.haselton'>
			<div class="aboutLeft">
				<div class="memberPic"><img src="<!--{$imagePath}-->/about/scott-haselton.jpg" alt="scott haselton" /></div>
				<h6>Scott Haselton</h6>
				<span>Core Developer</span>
			</div>
			<div class="aboutRight">
				<p>Web Developer at Source Interlink in Southern California.</p>
				<p>He has been involved with web development for over ten years and assembly/C++ development prior.</p>
				<p>He spends a good amount of his day on the server-side with PHP but secretly enjoys the functional development more!</p>    
			  <p>He is a co-developer of <a href='http://css3designer.com' target='_blank'>CSS3 Designer</a> and a Core Developer for <a href='http://jquerytoolkit.com' target='_blank'>jQuery 	Toolkit</a></p>
				<div class="memberLinks">
					<a class="website" href="http://" v>Website</a>
					<a class="mail" href="http://" target='_blank'>Website</a>
					<a class="linkedin" href="http://" target='_blank'>Website</a>
					<a class="twitter" href="http://" target='_blank'>Website</a>
					<a class="facebook" href="http://" target='_blank'>Website</a>
				</div>
			</div>
		</section>
	  </section>
	</section>	