<style>

#toolkit-body-detail {
    line-height: 32px;
    padding:0 27px;
    text-align:left;font-size:15px;
}

#toolkit-body-detail .modules li {  
    margin-left: 21px;}
    
    
#toolkit-body-detail  a:link,#toolkit-body-detail  a:visited,#toolkit-body-detail  a:active{ color: #666; text-decoration: underline }
</style>
<div id= 'toolkit-body-detail'>
        <div>
                <h3>What is jQuery Toolkit ? </h3>
                <div>
                        <p>
                        jQuery Toolkits provides set of Modules for Web Developers and Web Designers based by <a href='jquery.com'>jQuery</a> Library <br/>
                        Modules could be Widgets ,Plug-ins, or set of JavaScript utilities.


                        </p>

                        <hr/>

                        <h3>What does jQuery Toolkit Include</h3>
                        <ul>
                                <li>  You don't have to download the jQuery toolkit to use jQuery Toolkit Modules</li>
                                <li>  Each Module might include 0 or more sub Modules. </li>
                                <li>  Every Sub Module is a stand alone Module</li>
                                <li>  jQuery toolkit Concentrates on real life examples in web developments and tries to break down super complicated apps small reusable app</li>
                                <li>  Tutorials on how to write a good jQuery code </li>
                                <li>    Toturials on how to write a Object Oriented Javascript code</li>

                        </ul>
                </div>

                <hr/>

                <h3> jQuery Toolkit is currently working on the Following items </h3>

                <ul class='modules'>
                        <li> jQuery Toolkit Core</li>
                        <li> Module Loader </li>
                        <li> Modules :
                           <ul class='modulesIn'>
                              <li> - Edit In Place </li>
                              <li> - Watermark </li>
                              <li> - File Loader </li>
                              <li> - Module Loader </li>
                              <li> - Multiple File Uploader</li>
                              <li> - tooltip</li>
                              <li> - Image Zoomer </li>
                              <li> - String Library </li>
                              <li> - Number Library </li>
                           </ul>
                        </li>
                        <li>Online Tools:
                           <ul>
                              <li> - <a href='http://css3designer.com/tools'>Button Maker</a> </li>
                              <li> - Banner Maker </li>
                           </ul>
                        </li>
                </ul>
        </div>
    </div>
