  <div id="footer">
	<section class="fcnt clearfix">
	  <div class="interior clearfix">
	    <header class="clearfix">
			<ul>
				<li id="title"><span class="members">Team members</span></li>
				<li><a href="/about#mahdi.pedram">Mahdi Pedram Razi</a></li>
				<li><a href="/about#hamidreza.rahimi">Hamid Reza Rahimi</a></li>
				<li><a href="/about#farzin.fadamin">Farzin Fadamin</a></li>
				<li><a href="/about#scott.haselton">Scott Haselton</a></li>
			</ul>
			<ul>
				<li id="title"><span class="plugins">Recent plugins</span></li>
			</ul>
			<ul>
				<li id="title"><span class="favorite">Favorites</span></li>
			</ul>
			<ul>
				<li id="title"><span class="tutorial">Tutorial</span></li>
			</ul>
		</header>
		<div class="splitter"></div>
		<section id="middle" class="clearfix">
		  <aside id="socials">
		    <div id="twitter" class="clearfix">
			  <i>Latest tweet</i>
			  <div class="clearfix">
				  <!--{foreach from=$SiteData.tweets key =key item=tweet}-->
				  	<article <!--{if $key neq 0}--> style="display:none;"<!--{/if}--> itemprop="tweet"><!--{$tweet}--></article>
				  <!--{/foreach}-->
				  <a href="javascript:void(0)" class="arrow-right">Next</a>
				  <a href="javascript:void(0)" class="arrow-left">Prev</a>
			   </div>
			  
			  
			  <u></u>
			</div>
			<div id="others">
			  <i class="facebook"><a href="#" class="like"></a>354 people like this. Be the first of your friends.</i>
			  <a href="javascript:void(0)" class="rss">Rss</a>
			  <a href="javascript:void(0)" class="blog">Blog</a>
			</div>
		  </aside>
		  <aside>
			<ul id="books">
		      <li><a href="javascript:void(0)"><img src="<!--{$imagePath}-->book1.gif" alt="" /></a><a href="javascript:void(0)">jQuery For Designers</a><br/><i>Remy Sharp</i></li>
		      <li><a href="javascript:void(0)"><img src="<!--{$imagePath}-->book2.gif" alt="" /></a><a href="javascript:void(0)">jQuery In Action</a><br/><i>Bear Bibeault and Yehuda Katz</i></li>
		      <li><a href="javascript:void(0)"><img src="<!--{$imagePath}-->book3.gif" alt="" /></a><a href="javascript:void(0)">jQuery Enlightenment</a><br/><i>Cody Lindley</i></li>
		      <li><a href="javascript:void(0)"><img src="<!--{$imagePath}-->book4.gif" alt="" /></a><a href="javascript:void(0)">Learning jQuery 1.3</a><br/><i>Karl Swedberg and Jonathan Chaffer</i></li>
			</ul>
		  </aside>
		</section>
		<div class="splitter"></div>
		<section id="bottom" class="clearfix">
		  <aside class="jQueryTK">
			jQuery Toolkits provides set of Modules for Web Developers and Web Designers based by jQuery Library Modules.
		  </aside>
		  <aside class="mexo">
			Mexo is leading company in web development, search engine optimization, building Rich internet Application... <a href="http://mexo.co">[more]</a>
		  </aside>
		</section>
	  </div>
	</section>
	<footer>
	  <p>&copy; 2011 <a href="http://mexo.co">MEXO.co</a></p>
	  <p class="jq-sponcers">Sponcered by <a class="mediatemple" href="http://mediatemple.net" target='_blank'>Media Temple</a>.</p>
	</footer>
  </div>